
form {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    font-weight: bold;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the submit button */
button[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#answer {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px; 
    text-align: center; 
    color: #333; 
}

h1 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}
img{
    height: 90vh;
}
